// Media quaries breakpoints.
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 992px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1399px;

// Asset Path 
$assetPath : "../images";
 
/* Font Family */  
$Poppins: 'Poppins';
  

/* Colors  */
$primarycolor: #F72585;
$secondarycolor: #7209B7;  
$textcolor: #A3A3A3; 
$primarywhitecolor: #f3eff5; 



$white: #ffffff;  
$offwhite: #F6F6F6;
$lightgray: #ebebeb;
$darkgray: #cccccc;
$gray: #1d1d1d;
$black: #000;
$blue: #519EF3; 
$red: #FF0000; 
$yellow: #e3c731;
$error: #D0021B;
$google: #db4437;
$facebook: #3b5998;
$linkedin: #0077b5;
$autodesk: #0696d7;
$green: #2eb354;
$brown: #D2732B;


