.menu-row {
    position: relative;
    
    .logo-wrap {
        
        p {
            padding: 10px 0 16px;

            @media (max-width: $breakpoint-lg) {
                padding: 10px 0 10px;
            }

            @media (max-width: $breakpoint-md) {
                padding: 6px 0 8px;
            }

            a {

                img {

                }
            }
        }
    }

    .menu-wrap {
                        
        .menu-left {
                
            .menu-mobile-icon {
                top: 28px;

                @media (max-width: $breakpoint-xs) {
                    top: 22px;
                }

                #toggle-icon {
                        
                    span {
                            
                        &:nth-child(1) {
                        
                        }

                        &:nth-child(2), &:nth-child(3) {
                    
                        }

                        &:nth-child(4) {
                    
                        }
                    }
                    
                    &.open {
                        
                        span {

                            &:nth-child(1) {

                            }

                            &:nth-child(2) {
                    
                            }

                            &:nth-child(3) {
                        
                            }

                            &:nth-child(4) {
                
                            }
                        }
                    }
                }
            }

            .main-navigation {

                .nav {

                    .main-menu-list {
        
                        > li {

                            &:hover ul {

                            }

                            & > ::after {
    
                            }

                            a {
                                padding: 26px 16px; 
                                
                                @media (max-width: $breakpoint-lg) {
                                    padding: 16px 16px;
                                }
                            }
                            
                            > ul {
                                    
                                li {

                                    a {
                                        padding: 8px 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media (max-width: $breakpoint-md) {

                .pushmenu {
                    
                }

                .pushmenu-left {
        
                }

                .pushmenu-open {

                }
            }
        }

        .menu-right {
    

            .button-wrap {
            
                .green-button {

                }

                .dropdown {
                    padding: 21px 0;

                    @media (max-width: $breakpoint-lg) {
                        padding: 11px 0;
                    }

                    .dropbtn {
                            
                        .image-wrap {
                        
                            img {
                        
                            }
                        }
                        
                        .name {
                            
                        }
                    }

                    .dropdown-content {
            
                    }
                }					
            }
        }
    }
}


.pushmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
	@include transition(all 0.5s ease);
	
	&.pushmenu-push-toright {
		left: 250px;
		@include transition(all 0.5s ease);
		
		header {
			
			&.stick {
				
				.menu-row {
					
					.menu-wrap {

						.menu-left { 
						 
						}
					}
				}
			}
		}
	}

}
