.expletives-box{
    background: #191919;
    padding: 13px 10px;
    border-radius: 10px;
    position: relative;

    &.active{
        &::after{
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 15px; 
            padding: 2px; /* тут padding замість border-width */
            background: linear-gradient(-90deg, rgba($secondarycolor, 1), rgba( #9511AB, 1), rgba( $primarycolor, 1));
  
            -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, /* [1] */
            linear-gradient(#fff 0 0); /* [2] */
          -webkit-mask-composite: xor; /* [3] для підтримки браузерів */
          mask-composite: exclude; /* [3] */
              

          }
    }

    h4{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size:20px;
        line-height: 30px;  
        color: rgba( $white, 0.85);
        padding: 10px 5px;

    }

    .search{
        max-width: 100%;
    }

    .selectall-btns{
        color: rgba(255, 255, 255, 0.35);
        color: rgba(255, 255, 255, 0.35);
        margin-top: 12px;
        margin-right: 3px;
        display: inherit;
    }
}

ul{
    &.expletives-list{
      width: 100%;
      position: relative;
      z-index: 1; 
      height: auto;
      max-height:350px;
      overflow-y: scroll;
      padding-right: 10px;
  
  
      
  /* Scrollbar Styling */
  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: rgba( $black, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
  }
     

      li{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px; 
        color: rgba( $white, 0.7);
        display: flex;
        justify-content: space-between; 
        border-bottom: rgba( #454545, 0.5) 1px solid; 
        padding: 15px 0;

        @media (max-width: $breakpoint-md) {
          padding: 7px 0;
      
        }

        &:last-child{
            border-bottom: 0px;
        } 

        span{
            background: rgba( #303030, 0.8) ;
            border-radius: 20px;        
            color: rgba( $white, 0.5);
            padding: 3px 25px;
            text-transform: uppercase;
            display: inline-block;
            cursor: pointer;
            font-size: 13px;

            @media (max-width: $breakpoint-md) {
              padding: 3px 25px;
              font-size: 12px;
            }


        &:hover{
            background: rgba($primarycolor, 0.8) ;
            color: rgba( $white, 0.9);
        }
        }
      }
    }
  }