 .filter-hide-area{
    label{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
        color: rgba($white, 0.6);

    }
    .input-group{
        margin-top: 5px;
    }
    .form-control{ 
        border: 0px;
        background: #191919; 
        color: #fff;
        border-radius: 5px 5px 5px 5px;
        cursor: pointer;
        font-size: 13px;
        padding: 12px 15px;
        min-height: 44px;
    }



    input[type="date"]::-webkit-calendar-picker-indicator {
        background: url(../images/date-icon.svg) no-repeat;
        background-size: 18px 18px;
      }
      a.clear-filter{
        background: #191919;
        color: rgba( $white, 0.8); 
        border: 0px;
        padding:14px 35px;
        display:inline-block;  
        font-family: $Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px; 
        text-align: center;
        border-radius: 25px;
        text-transform: uppercase;
        @include transition(all 0.2s ease-in-out); 
        margin-right: 10px;
        margin-top: 28px;

        &:hover{ 
            background: $secondarycolor; 
            color: rgba( $white, 1);
        }
      }
 }

.letter-name{
    display: flex;
    align-items: center; 
    padding-bottom: 8px;
    margin-bottom: 10px;

    .letter-round{
        width: 50px;
        height: 50px;
        background: rgba($primarycolor, 1);
        border-radius: 50%;
        overflow: hidden; 
        font-size: 18px; 
        letter-spacing: 1px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        align-self: start;
        color: rgba( $white, 1);
        margin-right:10px;
       
    }
    .letter-right{
        flex: 1;
        line-break: anywhere;
        
        p{
            margin-bottom: 0px;

            a{
                font-family: $Poppins;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 24px; 
                color: rgba($white, 0.6);

            }
        }

    }


} 

.deatils-warp{
    label{
        font-family:$Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;  
        color: rgba(255, 255, 255, 0.6);
    }
    h6{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;  
        color: rgba( $white, 1);   
        overflow-wrap:break-word;
    }
    h5{
        font-family: $Poppins;
        font-style: normal;
        font-weight: 400;
        font-size:20px;
        line-height: 20px;  
        color: rgba( $white, 1);  
    }
    hr{
        border: 1px solid #282828;
    }


}

.horizondal-line{
    border-right: 1px solid #282828;

    @media (max-width: $breakpoint-sm) {
        border-right:0px;
     
       }
}


